name: Update Strava Data

on:
  schedule:
    - cron: '0 0 * * *' # Her gece çalışır
  workflow_dispatch: # Elle tetiklemek için

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write # Dosya yazma izni veriyoruz
    
    steps:
      - uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
            python-version: '3.9'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install requests

      - name: Fetch Strava Data
        env:
          STRAVA_CLIENT_ID: ${{ secrets.STRAVA_CLIENT_ID }}
          STRAVA_CLIENT_SECRET: ${{ secrets.STRAVA_CLIENT_SECRET }}
          STRAVA_REFRESH_TOKEN: ${{ secrets.STRAVA_REFRESH_TOKEN }}
        run: python fetch_strava.py

      - name: Commit and push changes
        run: |
          git config --global user.name 'GitHub Action'
          git config --global user.email 'action@github.com'
          git add strava_data.json
          git diff --quiet && git diff --staged --quiet || (git commit -m "Auto-update Strava data" && git push)
